/*
 * Config file for nextflow wgbs pipeline v1
 */

workDir = '/mnt/parscratch/users/bi1ml/public/methylated_soay/soay_wgbs_main_sep2024/nextflow_pipeline/work'

process {
    executor = 'slurm'
    time = '96 hour'
    memory = '1TB'
    cpus = 320

    withName:FASTQC {
        container = 'docker://biocontainers/fastqc:v0.11.9_cv8'
        memory = '2 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:FASTQCTRIMM {
        container = 'docker://biocontainers/fastqc:v0.11.9_cv8'
        memory = '2 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:TRIMGALORE {
        container = 'docker://clinicalgenomics/trim_galore:0.6.7'
        cpus = 8
    }
    withName:MULTIQC {
        container = 'docker://multiqc/multiqc:v1.25.1'
        memory = '2 GB'
        time = '2 h'
        cpus = 1
    }
    withName:ALIGN {
        container = 'docker://quay.io/biocontainers/bismark:0.24.2--hdfd78af_0'
        cpus = 4
    }
    withName:SAMTOOLSSAM {
        container = 'docker://biocontainers/samtools:v1.9-4-deb_cv1'
        memory = '2 GB'
        time = '2 hour'
        cpus = 1
    }
    withName:DEDUP {
        container = 'docker://quay.io/biocontainers/bismark:0.24.2--hdfd78af_0'
        cpus = 1
    }
    withName:SAMTOOLSCOOR {
        container = 'docker://biocontainers/samtools:v1.9-4-deb_cv1'
        memory = '2 GB'
        time = '2 hour'
        cpus = 1
    }
    withName:PICARDRG {
        container = 'docker://quay.io/biocontainers/picard:3.3.0--hdfd78af_0'
        memory = '4 GB'
        time = '2 hour'
        cpus = 1
    }
    withName:PICARDMERGE {
        container = 'docker://quay.io/biocontainers/picard:3.3.0--hdfd78af_0'
        memory = '4 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:METHYLATION {
        container = 'docker://quay.io/biocontainers/bismark:0.24.2--hdfd78af_0'
        cpus = 4
    }
    withName:SAMTOOLSSTATS {
        container = 'docker://biocontainers/samtools:v1.9-4-deb_cv1'
        memory = '250 MB'
        time = '1 hour'
        cpus = 1
    }
    withName:PICARDCOOR {
        container = 'docker://quay.io/biocontainers/picard:3.3.0--hdfd78af_0'
        memory = '5 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:SAMTOOLSDEPTH {
        container = 'docker://biocontainers/samtools:v1.9-4-deb_cv1'
        memory = '250 MB'
        time = '1 hour'
        cpus = 1
    }
    withName:SAMTOOLSBREADTH {
        container = 'docker://biocontainers/samtools:v1.9-4-deb_cv1'
        memory = '250 MB'
        time = '1 hour 30 min'
        cpus = 1
    }
    withName:BSCONVERSION {
        memory = '5 KB'
        time = '1 min'
        cpus = 1
    }
    withName:TELSEQ {
        container = 'docker://quay.io/biocontainers/telseq:0.0.2--h06902ac_8'
        memory = '3 GB'
        time = '2 hour'
        cpus = 1
    }
}
apptainer {
    enabled = true
    cacheDir = "${params.userdir}/next_wgbs/singularity"
}
