/*
 * Config file for nextflow wgbs pipeline v1
 */

workDir = '/users/bi1ml/public/methylated_soay/soay_wgbs_full_data_set_sep2024/bioinformatics/work'

/*
process {
    withName:FASTQC {
        container = 'docker://biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:MULTIQC {
        container = 'docker://multiqc/multiqc:v1.25.1'
    }
}
apptainer {
    enabled = true
}

 */