/*
 * Config file for nextflow wgbs pipeline v1
 */

workDir = '/mnt/parscratch/users/bi1ml/public/methylated_soay/soay_wgbs_main_sep2024/nextflow_pipeline/work'

process {
    executor = 'slurm'
    time = '96 hour'
    memory = '1TB'
    cpus = 320

    withName:FASTQC {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/fastqc.sif'
        memory = '2 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:FASTQCTRIMM {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/fastqc.sif'
        memory = '2 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:TRIMGALORE {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/trim_galore.sif'
        cpus = 8
    }
    withName:MULTIQC {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/multiqc.sif'
        memory = '2 GB'
        time = '2 h'
        cpus = 1
    }
    withName:ALIGN {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/bismark.sif'
        cpus = 4
    }
    withName:SAMTOOLSSAM {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/samtools.sif'
        memory = '2 GB'
        time = '2 hour'
        cpus = 1
    }
    withName:DEDUP {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/bismark.sif'
        cpus = 1
    }
    withName:SAMTOOLSCOOR {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/samtools.sif'
        memory = '2 GB'
        time = '2 hour'
        cpus = 1
    }
    withName:PICARDRG {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/picard.sif'
        memory = '4 GB'
        time = '2 hour'
        cpus = 1
    }
    withName:PICARDMERGE {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/picard.sif'
        memory = '4 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:METHYLATION {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/bismark.sif'
        cpus = 4
    }
    withName:SAMTOOLSSTATS {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/samtools.sif'
        memory = '250 MB'
        time = '1 hour'
        cpus = 1
    }
    withName:PICARDCOOR {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/picard.sif'
        memory = '5 GB'
        time = '3 hour'
        cpus = 1
    }
    withName:SAMTOOLSDEPTH {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/samtools.sif'
        memory = '250 MB'
        time = '1 hour'
        cpus = 1
    }
    withName:SAMTOOLSBREADTH {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/samtools.sif'
        memory = '250 MB'
        time = '1 hour 30 min'
        cpus = 1
    }
    withName:BSCONVERSION {
        memory = '5 KB'
        time = '1 min'
        cpus = 1
    }
    withName:TELSEQ {
        container = '/users/bi1ml/pipelines/next_wgbs/singularity/telseq.sif'
        memory = '3 GB'
        time = '2 hour'
        cpus = 1
    }
}
apptainer {
    enabled = true
    cacheDir = "/users/bi1ml/pipelines/next_wgbs/singularity"
}
